{% extends 'base.html' %}
{% block title %}研究室希望調査{% endblock %}
{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
            <div class="col-md-12" style="margin-bottom: 20px;">
                {#            ここ、告知領域にする。adminから書けたほうがいいけど今後の課題。#}
                <div class="card card-inverse card-info">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne" class="card-header text-white">
                        メンテナンスについて
                    </a>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>12/14～15日にかけて、メンテナンスのため繋がりにくい状態になっていました。ご迷惑をおかけしました。</p>
                                <p>今後共にメンテナンスが発生した場合、エラー番号500, 502が表示される場合があります。1,
                                    2分おけば繋がる場合が多いですが、頻繁に発生するなどの場合はtwitterかm6622036の学内メールまでご連絡ください。</p>
                                <footer>2017/12/15
                                    <a href="#collapseOne"
                                       class="float-right text-white"
                                       data-toggle="collapse"
                                       controls="collapseOne"
                                    >閉じる</a>
                                </footer>

                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-header">
                        入力データ
                        <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-info float-right">編集</a>
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">表示名</h5>
                        <p class="card-text">
                            {% if user.display_name %}
                                {{ user.display_name }}
                            {% else %}
                                なし（学生ID）
                            {% endif %}
                        </p>
                        <h5 class="card-title">第一希望研究室</h5>
                        <p class="card-text">
                            <span {% if user.first_choice.first_choiced_user.count > user.first_choice.capacity %}
                                class="text-danger"{% endif %}>
                            {% if user.first_choice %}
                                {{ user.first_choice }}
                            {% else %}
                                未選択
                            {% endif %}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-header">
                        集計
                        <div class="dropdown float-right">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ダウンロード
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                   href="{% url 'result_download' type='xlsx' %}">Excel</a>
                                <a class="dropdown-item" href="{% url 'result_download' type='csv' %}">CSV</a>
                            </div>
                        </div>
                        {% block list_tab %}{% endblock %}
                    </div>
                    <div class="card-block">
                        <p class="card-text">
                            表示されていないデータがある場合、Excelデータでダウンロードすると全データが閲覧できます。
                        </p>
                        <p class="text-danger">
                            個人情報の取り扱いは十分注意してください。
                        </p>
                    </div>
                    {% block list_content %}
                    {% endblock %}
                </div>
            </div>
        {% else %}
            <div class="col-sm-8 offset-sm-2" style="margin-bottom: 20px;">
                <p>ログインしてください。<br>アカウントをお持ちでない方はメニューからアカウントを作成してください。</p>
            </div>
        {% endif %}
    </div>
{% endblock %}