{% extends 'base.html' %}
{% block title %}研究室希望調査{% endblock %}
{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
            <div class="col-md-4" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-header">
                        入力データ
                        <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-info float-right">編集</a>
                    </div>
                    <div class="card-block">
                        <h5 class="card-title">第一希望研究室</h5>
                        <p class="card-text">
                            {% if user.first_choice %}
                                {{ user.first_choice }}
                            {% else %}
                                未選択
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-header">
                        集計
                        <div class="dropdown float-right">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ダウンロード
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'result_download' type='xlsx' %}">Excel</a>
                                <a class="dropdown-item" href="{% url 'result_download' type='csv' %}">CSV</a>
                            </div>
                        </div>

                    </div>
                    <div class="card-block">
                        <h5 class="card-title">希望状況一覧</h5>
                        <table class="table card-text">
                            <tbody>
                            {% for obj in object_list %}
                                <tr>
                                    <th scope="row" rowspan="2" class="text-center"
                                        style="white-space: nowrap; width: 10px;">{{ obj.number }}</th>
                                    <th>{{ obj }}</th>
                                    <td class="text-right" style="white-space: nowrap; width: 10px;">
                                        {{ obj.first_choiced_user.count }} / {{ obj.capacity }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for people in obj.first_choiced_user.all %}
                                            {{ people }}
                                        {% empty %}
                                            （希望者なし）
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-8 offset-sm-2" style="margin-bottom: 20px;">
                <p>ログインしてください。<br>アカウントをお持ちでない方はメニューからアカウントを作成してください。</p>
            </div>
        {% endif %}
    </div>
{% endblock %}