{% extends 'base.html' %}
{% block title %}研究室希望調査{% endblock %}
{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
            <div class="col-sm-12" style="margin-bottom: 20px;">
                <h4>自分のデータ
                    <a href="{% url 'edit_profile' %}" class="btn btn-info float-right">編集</a>
                </h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">希望研究室</th>
                        <td>
                            {% if user.first_choice %}
                                {{ user.first_choice }}
                            {% else %}
                                未選択
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12" style="margin-bottom: 20px;">
                <h4>集計</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>研究室</th>
                        <th>希望者</th>
                        <th class="text-right">希望 / 定員</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in object_list %}
                        <tr>
                            <th scope="row" class="text-center">{{ obj.number }}</th>
                            <th>{{ obj }}</th>
                            <td>
                                {% for people in obj.first_choiced_user.all %}
                                    {{ people }}
                                {% endfor %}
                            </td>
                            <td class="text-right">
                                {{ obj.first_choiced_user.count }} / {{ obj.capacity }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>ログインしてください。アカウントをお持ちでない方はメニューからアカウントを作成してください。</p>
        {% endif %}
    </div>
{% endblock %}